@import url("https://fonts.googleapis.com/css2?family=Kadwa&display=swap");

.question-container {
  background: rgb(229, 217, 182);
  background: linear-gradient(
    345deg,
    rgba(229, 217, 182, 1) 0%,
    rgba(164, 190, 123, 1) 50%,
    rgba(95, 141, 78, 1) 100%
  );
  padding-bottom: 20px;
}

.questionTop {
  display: flex;
  margin-bottom: 60px;
}
.questionParent {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 40px;
  box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.25);
  max-width: 500px;
  padding-bottom: 20px;
}

.formLabel {
  display: block;
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 20pt;
  font-family: "Kadwa", serif;
}

.formInput {
  width: 300px;
  padding: 8px 0 8px 5px;
  border-radius: 11px;
  border: none;
  background-color: #b4e5a6;
}

.questionInput {
  max-width: 300px;
  min-height: 100px;
  min-width: 300px;
  max-height: 300px;
}

.formSubmitBtn {
  background-color: #b4e5a6;
  color: rgb(29, 29, 29);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px auto 0 auto;
  font-size: 16px;
  position: relative;
  left: 34%;
}

.formSubmitBtn:hover {
  background-color: #8fb983;
  transition: 0.2s;
}
